*
{   margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
header
{
    max-width: 1280px;
    height: 84px;
    margin-left: 320px;
}
nav{
    display: flex;
    justify-content:space-between ;
    margin: 0 auto;
    align-items: center;
}
.logo1
{  
    display: flex;
    justify-content: flex-start;
}
.menu ul
{
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #394149;
}
.menu li
{
    margin: 20px;
    cursor: grab;
    list-style: none;
}
.menu li a
{
    text-decoration: none;
    color: #394149;
    width: 69;
}
.dfd button
{
    margin-top: 5px;
    margin-left: 47px;
    width: 173px;
    height: 52px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    border-style: none;
    color:#F58A07;
    cursor:grab;
}
.container
{
    width: 1165px;
    height: 182px;
    margin-top: 122px;
    margin-left:320px;
}
.bigsec, .right-part
{
    display: flex;
}
.left-part h1
{
    width: 561px;
    height: 128px;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.03em;
    color: #1D3444;
}
.left-part p
{
    width: 524px;
    height: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-top: 24px;
}
.right-part
{
    margin-left: 99px;
}
.right-part h2
{

    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.right-part h3
{
   
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-top: 16px;
}
.container2
{
    width: 1280px;
    height: 456px;
    margin-left: 320px;
    margin-top: 64px;
}
.big-bottom
{
    display: flex;
}
.left 
{
    display: flex;
    flex-flow: column;
}
.left input
{
    width: 605px;
    height: 54px;
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    margin-bottom: 16px;
    border-style: none;
    padding-left: 32px;
}
.left textarea
{
    width: 605px;
    height: 160px;
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    border-style: none;
    padding: 32px 32px;
}
.left button
{
    width: 119px;
    height: 54px;
    background: #F58A07;
    border-radius: 31px;
    border-style: none;
    margin-top:32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.right iframe
{
    margin-left: 30px;
    border-radius: 20px;
}
.container5
{
    width: 1920px;
    height: 463px;
    background: #063255;
    margin-top: 128px;
}
.bigfoot
{
    display: flex;
    justify-content:space-around;
}
.foot1 .jk
{
    margin-top: 80px;
    margin-left: 130px;
}
.foot1 h2
{
    width: 351px;
    height: 88px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-top: 32px;
    margin-left: 130px;
}
.foot1 .cu
{
    margin-left:130px;
    margin-top:35.33px ;
}
.foot1 .cu img
{
    margin-inline-end: 23.1px;
}
.foot1 h4
{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 82.56px;
    margin-left: 130px;
}
.foot2
{
    display: flex;
}
.smafoot1 h3
{
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 80px;
}
.smafoot1 h4
{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 30px;
}
.smafoot2
{
    margin-left: 106px;
}
.smafoot2 h3
{
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 80px;
}
.smafoot2 h4
{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 30px;
}
.foot3
{
    margin-right: 320px;
}
.foot3 h3
{
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 80px;
}
.foot3 .text 
{
    width: 342px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 31px;
    border-style: none;
    margin-top: 24px;
    padding: 18px 32px;
}
.text2 button
{
    width: 156px;
    height: 54px;
    background: #F58A07;
    border-radius: 31px;
    border-style: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 106.5%;
    color: #FFFFFF;
    margin-top: 18px;
}
.bigmm
{
    display: flex;
}
.foot3 .mm h4
{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 122px;
    margin-inline-end: 32px;
}